aiohttp==3.9.3
aiosignal==1.3.1
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
cryptography==42.0.5
discord==2.3.2
discord.py==2.3.2
frozenlist==1.4.1
h11==0.8.1
h2==3.2.0
hpack==3.0.0
http3==0.6.7
hyperframe==5.2.0
idna==2.10
isodate==0.6.1
lxml==4.9.4
multidict==6.0.5
pycountry==23.12.11
pycparser==2.21
pycryptodome==3.20.0
pyOpenSSL==24.1.0
PySocks==1.7.1
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
streamlink==3.0.3
urllib3==1.26.18
websocket-client==1.7.0
yarl==1.9.4
